<nav id="menu" class="darkBackground">
   <ul>
    <li><a class="orange evogriaFont" href="#about">About</a></li>
    <li><a class="orange evogriaFont" href="#gallery">Gallery</a></li>
    <li><a class="orange evogriaFont" href="#bookings">Bookings</a></li>
    <li><a class="orange evogriaFont" href="#contact">Contact</a></li>
  </ul>
</nav>

<nav id="hamburgerMenu">
  <ul>
    <li><a class="orange evogriaFont hvr-forward" href="#about">About</a></li>
    <li><a class="orange evogriaFont hvr-forward" href="#gallery">Gallery</a></li>
    <li><a class="orange evogriaFont hvr-forward" href="#bookings">Bookings</a></li>
    <li><a class="orange evogriaFont hvr-forward" href="#contact">Contact</a></li>
  </ul>
  <div class="socialMedia">
    <a href="https://www.instagram.com/zoro_ink/" target="_blank"><i class="fab fa-instagram hvr-grow-rotate"></i></a>
    <a href="https://www.instagram.com/zoro_ink/" target="_blank"><i class="fab fa-facebook-square hvr-grow-rotate"></i></a>
    <a href="https://www.instagram.com/zoro_ink/" target="_blank"><i class="fab fa-google-plus-g hvr-grow-rotate"></i></a>
  </div>
</nav>

<section id="bannersection" class="lightBackground">
  <nav>
    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>  
  </nav>
  
  <div class="bannerContainer">
    <p class="welcome evogriaFont orange textShadow animated fadeInDown">Zoro Ink</p>
    <br>
      <p class="heart lightBlue ml3">Wear your heart on your skin</p>
    <br>
    <div class="buttonclass animated fadeInUp"><a href="#gallery" class="button lightBackground evogriaFont orange"> see my work</a></div>
  </div>
</section>

<section id="about">
    <div class="aboutPicture">
    </div>
    <div class="aboutText darkBackground">
        <h1 class="evogriaFont orange textShadow">Zoro Ink</h1>
        <p class="wow bounceInRight lightFont"> Welcome, my artname is Zoro. Having served a two-year apprenticeship with <a href="#" class="nikola orange">Nikola Zorotovic</a> a.k.a "Necro" in Zagreb (Croatia), I'm currently tattooing at Tattoo Studio Walls and Skin in Amsterdam and sporadically across whole Europe and Croatia.</p>
    </div>
    <div class="aboutWalls">
      <div class="picture"></div>
      <div class="text darkBackground">
        <h1 class="evogriaFont orange textShadow">Walls & Skin</h1>
        <p class="wow bounceInLeft lightFont"> Walls and Skin is an established tattoo studio offering art on skin and walls in Amsterdam. The studio hosts different styles that vary from <a class="orange">realism</a>, <a class="orange">neotraditional</a>, <a class="orange">mandala</a>, <a class="orange">dotwork</a> through to <a class="orange">watercolor</a>.</p> 
      </div>
    </div>
</section>

<section id="gallery">
  <div class="row">
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/6b7ce9500326b27573da2b17922bcffb/5CCEA8DB/t51.2885-15/e35/45430643_2467157786844549_8898881986259970122_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/6b7ce9500326b27573da2b17922bcffb/5CCEA8DB/t51.2885-15/e35/45430643_2467157786844549_8898881986259970122_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of flower"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/7155e2abde8e7f4b93905affa283eecd/5CB57AF2/t51.2885-15/e35/44871808_331326277660493_2729190035089511733_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/7155e2abde8e7f4b93905affa283eecd/5CB57AF2/t51.2885-15/e35/44871808_331326277660493_2729190035089511733_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Mandala Artwork behind the ear"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/ca0e08ab6403fa4630f9ed7855815586/5CD430CB/t51.2885-15/e35/46842296_136368424026232_3728591851142101883_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/ca0e08ab6403fa4630f9ed7855815586/5CD430CB/t51.2885-15/e35/46842296_136368424026232_3728591851142101883_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
    </div>
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/34257a7f8422f7981cd651eca21f1827/5CCBDB51/t51.2885-15/e35/44513612_946751748862959_5680767996412888170_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/34257a7f8422f7981cd651eca21f1827/5CCBDB51/t51.2885-15/e35/44513612_946751748862959_5680767996412888170_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Letters Artwork"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/c2c5a407ea1f32be70e3326db2ac54f5/5CB5F41D/t51.2885-15/e35/47288811_509305609562530_2038700249265315260_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/c2c5a407ea1f32be70e3326db2ac54f5/5CB5F41D/t51.2885-15/e35/47288811_509305609562530_2038700249265315260_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Letters Artwork"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/2738dbebd7f608a268861a5b53969e1c/5CBC4589/t51.2885-15/e35/40485978_985700411637696_2632425477356903783_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/2738dbebd7f608a268861a5b53969e1c/5CBC4589/t51.2885-15/e35/40485978_985700411637696_2632425477356903783_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of small Mandala"></a>
    </div>
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/80fa12a2868845c8183a0135b6cb5f01/5CB3E505/t51.2885-15/e35/45949929_356487571796633_7929898481405571510_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"><img src="https://scontent-amt2-1.cdninstagram.com/vp/80fa12a2868845c8183a0135b6cb5f01/5CB3E505/t51.2885-15/e35/45949929_356487571796633_7929898481405571510_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of three crosses and smileys"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/047cda373a3bce37dd906fb29eb78b0d/5CC229C5/t51.2885-15/e35/44738328_149554726009357_4451345287920333174_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"><img src="https://scontent-amt2-1.cdninstagram.com/vp/047cda373a3bce37dd906fb29eb78b0d/5CC229C5/t51.2885-15/e35/44738328_149554726009357_4451345287920333174_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Anchor"></a>
      <a  href="https://scontent-amt2-1.cdninstagram.com/vp/7b289328b1730d975dcc76b7ccd500e8/5CBB0C44/t51.2885-15/e35/42464342_499730790505905_8508581653611228170_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"><img src="https://scontent-amt2-1.cdninstagram.com/vp/7b289328b1730d975dcc76b7ccd500e8/5CBB0C44/t51.2885-15/e35/42464342_499730790505905_8508581653611228170_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
    </div>
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/54f74e6cb3ea3d9287262217a88d7a81/5CD31B34/t51.2885-15/e35/38626389_2059329134098357_7727346047604752384_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/54f74e6cb3ea3d9287262217a88d7a81/5CD31B34/t51.2885-15/e35/38626389_2059329134098357_7727346047604752384_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Celtic Rose"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/ac77eafdce9c91637af554a5d27cef2d/5CCBBD7B/t51.2885-15/e35/38450799_243828016272045_3707411986041012224_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com"  data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/ac77eafdce9c91637af554a5d27cef2d/5CCBBD7B/t51.2885-15/e35/38450799_243828016272045_3707411986041012224_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of a Teabag"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/20819004be4a83ba28dcf94dbe6dd29f/5CD09673/t51.2885-15/e35/31149998_218161475610518_8567341178532397056_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/20819004be4a83ba28dcf94dbe6dd29f/5CD09673/t51.2885-15/e35/31149998_218161475610518_8567341178532397056_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Mushroom"></a>
    </div>
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/b691e4c40a9c484702433b5ce444eb0c/5CD66494/t51.2885-15/e35/36790976_427496077756488_5730135677429874688_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"><img src="https://scontent-amt2-1.cdninstagram.com/vp/b691e4c40a9c484702433b5ce444eb0c/5CD66494/t51.2885-15/e35/36790976_427496077756488_5730135677429874688_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Lettering Artwork"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/5b797906b7df0ed5dc702e70101e6e37/5CBC6751/t51.2885-15/e35/36792163_287808408449680_8891188442864549888_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/5b797906b7df0ed5dc702e70101e6e37/5CBC6751/t51.2885-15/e35/36792163_287808408449680_8891188442864549888_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Eternal Knot"> </a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/1cd3cd1081a2439a7d90308dff80883f/5CBC8606/t51.2885-15/e35/44324346_287320261890029_7588235014154195469_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/1cd3cd1081a2439a7d90308dff80883f/5CBC8606/t51.2885-15/e35/44324346_287320261890029_7588235014154195469_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Halloween Pumpkin"></a>
    </div>
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/5591c45b5873f3de4a897207618d57bf/5CD8FB96/t51.2885-15/e35/44492825_2200558356931639_8738043380612694241_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/5591c45b5873f3de4a897207618d57bf/5CD8FB96/t51.2885-15/e35/44492825_2200558356931639_8738043380612694241_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/d37b9209ff44b58bb4bb262f2a5054a7/5CB5ED14/t51.2885-15/e35/46422165_360690057813828_1218010757361783094_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/d37b9209ff44b58bb4bb262f2a5054a7/5CB5ED14/t51.2885-15/e35/46422165_360690057813828_1218010757361783094_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/632aa062bf23cb2d378ce0d16c29b29b/5CB7BF5D/t51.2885-15/e35/47151147_351496412094392_3471790258579325919_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/632aa062bf23cb2d378ce0d16c29b29b/5CB7BF5D/t51.2885-15/e35/47151147_351496412094392_3471790258579325919_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Woman"></a>
    </div>
    <div class="column">
    <a href="https://scontent-amt2-1.cdninstagram.com/vp/448ef6c7bfb26cf4ba8476ecc4da7739/5CBDFFCB/t51.2885-15/e35/43617666_261058804596866_8922471971819472251_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/448ef6c7bfb26cf4ba8476ecc4da7739/5CBDFFCB/t51.2885-15/e35/43617666_261058804596866_8922471971819472251_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
    <a href="https://scontent-amt2-1.cdninstagram.com/vp/e26b2976d3276f81fba4471507d5a1fe/5CD43CDC/t51.2885-15/e35/43985650_2294972697397334_2200161313251250618_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/e26b2976d3276f81fba4471507d5a1fe/5CD43CDC/t51.2885-15/e35/43985650_2294972697397334_2200161313251250618_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
    <a href="https://scontent-amt2-1.cdninstagram.com/vp/1ebf62c09917093f52b92d76167c041b/5CB9C5E1/t51.2885-15/e35/40723231_311194019434400_6242296826189712877_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery"> <img src="https://scontent-amt2-1.cdninstagram.com/vp/1ebf62c09917093f52b92d76167c041b/5CB9C5E1/t51.2885-15/e35/40723231_311194019434400_6242296826189712877_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
    </div>
    <div class="column">
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/55c3981fef8d592b133359f8deea45e1/5CC9AE42/t51.2885-15/e35/28158600_449528972147013_5384276551086899200_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/55c3981fef8d592b133359f8deea45e1/5CC9AE42/t51.2885-15/e35/28158600_449528972147013_5384276551086899200_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""> </a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/1cd3cd1081a2439a7d90308dff80883f/5CBC8606/t51.2885-15/e35/44324346_287320261890029_7588235014154195469_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/1cd3cd1081a2439a7d90308dff80883f/5CBC8606/t51.2885-15/e35/44324346_287320261890029_7588235014154195469_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt="Artwork of Halloween Pumpkin"></a>
      <a href="https://scontent-amt2-1.cdninstagram.com/vp/b691e4c40a9c484702433b5ce444eb0c/5CD66494/t51.2885-15/e35/36790976_427496077756488_5730135677429874688_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" data-lightbox="gallery">  <img src="https://scontent-amt2-1.cdninstagram.com/vp/b691e4c40a9c484702433b5ce444eb0c/5CD66494/t51.2885-15/e35/36790976_427496077756488_5730135677429874688_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com" alt=""></a>
    </div>
  </div>
</section>

<section id="bookings" class="darkBackground">
  <div class="bookingsContainer ">
    <div class="form">
      <form action="/form" enctype="multipart/form-data" method="post">
        <div>
          <input type="text" id="name" name="name" required>
          <span class="floating-label">Name *</span>
        </div>
        <div>
          <input type="email"id="email"  name="email" required />
          <span class="floating-label">Email *</span>
        </div>
        <div>
          <input type="text" id="phone" name="phone">
          <span class="floating-label">Phone</span>
        </div>
        <div>
          <input type="text" id="place" name="place" required>
          <span class="floating-label">Place *</span>
        </div>
        <div>
          <input type="text" id="size" name="size" required>
          <span class="floating-label">Size (cm x cm) *</span>
        </div>
        <div id ="wrapper" data-text="Example">
          <input type="file" id="file" name="image">
        </div>
        <textarea id="description" placeholder="Description of Tattoo"  name="description"></textarea>
        <button id="submit" type="submit"><span>Send</span></button>
        <p style="color: #cc7e00; margin-top: 20px; text-align: left;">The form was sent succefully, I will get back to you soon! </p>
      </form>
    </div>
    <div class="bookingsText">
      <h1 class="evogriaFont orange textShadow">Book an Appointment</h1>
      <p>When booking an appointment, take into account to include the following information:</p>
       <br>
       <ul>
         <li><span class="fontWeight900">-- the size</span></li>
         <li><span class="fontWeight900">-- the place of the tattoo</span></li>
         <li><span class="fontWeight900">-- a description of the tattoo</li>
         <li><span class="fontWeight900">-- a possible example of the design (if available)</span></li>
       </ul>
       <p id="second">This way I can estimate how long to prepare, how long to make the actual tattoo and what the final price would be. After that you're invited to the Walls and Skin studio where we pick a date for the tattoo, determine the price and come to a conclusive design.</p>
    </div>
  </div>
</section>

<section id="contact" class="lightBackground">
  <div class="contactContainer1">
          <h1 class="evogriaFont orange textShadow">Contact Me</h1>
          <p>If you have any questions you can e-mail me at <span class="fontWeight900"><a href="mailto:zoroink@gmail.com">zoroink@gmail.com</a></span> and you are always invited to drop by at one of the Walls and Skin Tattoo Studio's</p>
          <div class="socialMedia fadeInUp animated wow">
            <a href="https://www.instagram.com/zoro_ink/" target="_blank"><i class="down fab fa-instagram hvr-grow-rotate"></i></a>
            <a href="https://www.instagram.com/zoro_ink/" target="_blank"><i class="down fab fa-facebook-square hvr-grow-rotate"></i></a>
            <a href="https://www.instagram.com/zoro_ink/" target="_blank"><i class="down fab fa-google-plus-g hvr-grow-rotate"></i></a>
          </div>
  </div>
</section>

<section id="map">
  <div id="map"></div>
</section>

<footer>
  <h4 id="allright">All Rights Reserved © 2019 - ZoroInk</h4>
  <h4 id="zlobi">Made by Zlobi with ♥ in ✖✖✖</h4>
</footer>

<script> 
  function initMap() { var uluru = {lat: 52.372889, lng: 4.907180}; 
    var map = new google.maps.Map( document.getElementById('map'), 
      {disableDefaultUI: true,
        zoom: 13, 
        center: uluru,
        styles: [
        {elementType: 'geometry', stylers: [{color: '#00264d'}]},
        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
        {elementType: 'labels.text.fill', stylers: [{color: '#cc7e00'}]},
      {
        featureType: 'poi.park',
        elementType: 'geometry',
      stylers: [{color: '#263c3f'}]
      },

      {
        featureType: 'road',
        elementType: 'geometry',
        stylers: [{color: '#38414e'}]
      },
      {
        featureType: 'road',
        elementType: 'geometry.stroke',
        stylers: [{color: '#212a37'}]
      },
      {
        featureType: 'road',
        elementType: 'labels.text.fill',
        stylers: [{color: '#9ca5b3'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'geometry',
        stylers: [{color: "#cc7e00"}]
      },
      {
        featureType: 'road.highway',
        elementType: 'geometry.stroke',
        stylers: [{color: '#1f2835'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'labels.text.fill',
        stylers: [{color: '#f3d19c'}]
      },
      {
        featureType: 'transit',
        elementType: 'geometry',
        stylers: [{color: '#2f3948'}]
      },
      {
        featureType: 'transit.station',
        elementType: 'labels.text.fill',
        stylers: [{color: '#d59563'}]
      },
      {
        featureType: 'water',
        elementType: 'geometry',
        stylers: [{color: '#001F3F'}]
      },
      {
        featureType: 'water',
        elementType: 'labels.text.fill',
        stylers: [{color: '#515c6d'}]
      },
      {
        featureType: 'water',
        elementType: 'labels.text.stroke',
        stylers: [{color: '#17263c'}]
      }
  ]});  
  var marker = new google.maps.Marker({position: uluru, map: map});
  var marker = new google.maps.Marker({position: {lat: 52.378935 , lng: 4.895178}, map: map})}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrL1Xb2Z_Q3HcfRgiZft5YwaZW2xAaZ30&callback=initMap">
</script>
<script src="/javascripts/aos.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="/javascripts/lightbox.js"></script>
<script src="/javascripts/zoroink.js"></script>
