<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" media="all" href="/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/hamburger.css" />
    <link rel='stylesheet' href='/stylesheets/hover-min.css' />
    <link rel ="stylesheet" href="/stylesheets/aos.css">
    <link rel="stylesheet"  href="/stylesheets/animate.min.css">
    <link rel="stylesheet"  href="/stylesheets/lightbox.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fullpage.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Zoro Ink</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
